table {
    border-collapse: collapse;
    margin: 30px auto;
    width: 400px;
    border-spacing: 6px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: center;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    text-align: right;
}

.label {
    text-align: center;
    font-weight: bold;
}

.total {
    font-weight: bold;
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}
