@model IEnumerable<EmployeeDepartment.Data.Entities.Department>
@{
    ViewData["Title"] = "Departments";
}

<h2 class="mb-3">Departments</h2>

<a class="btn btn-primary mb-3" asp-action="Create">Add Department</a>

<table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.Code</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@d.Id">Edit</a>

                    <form asp-action="Delete" asp-route-id="@d.Id" method="post" class="d-inline">
                        <button class="btn btn-sm btn-danger"
                                onclick="return confirm('Are you sure?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
