@model MoviesData.Entities.Movie

<h2>
    Редакции на филм
</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Director" class="form-label"></label>
        <input asp-for="Director" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Genre" class="form-label"></label>
        <input asp-for="Genre" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Запази</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>