html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.navbar-custom {
    background-color: #1f3c88;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: white !important;
}

body {
    background-color: #fcd8b6 !important;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-box {
    background: #f7cfa8;
    padding: 25px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table-box {
    background: #f7cfa8;
    padding: 15px;
    border-radius: 8px;
    max-width: 800px;
}

.btn-primary {
    background-color: #1f3c88;
    border-color: #1f3c88;
}

.btn-success {
    background-color: #2d8a51;
}

.btn-warning {
    background-color: #1f3c88;
    border-color: #1f3c88;
}

.btn-danger {
    background-color: #c0392b;
}

.table {
    background-color: #fff;
}
