body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pizza-form {
    background-color: #fff;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
}

h2 {
    text-align: center;
    color: #d35400;
}

p {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select,
#name,
#email {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-group div {
    font-weight: normal;
    display: flex;
    
}


button {
    margin-top: 20px;
    width: 100%;
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #cf711f;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #2c3e50;
    font-weight: bold;
}

